
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 <p>
  <strong>CATEGORY:</strong>
  <%= @book.return%>
</p>
<%= @book.Category%>
<p>
<strong>YOU HAVE ISSUES THE BOOK FOR:</strong>
<%=@k%>DAYS
</p>
